*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #012e41;
    overflow-x: hidden;
}

nav{
    background-color: white;
    box-shadow: 0px 0px 20px -10px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}


button:hover{
    cursor: pointer;
}

.logo, .search-bar, .profile{
    padding: 10px 20px;
}

.logo{
    display: flex;
}

.logo-blue{
    color: #849ccc;
}

.search-bar{
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar>*{
    margin: auto 
}

.search-bar > form>input{
    background-color: #21566d;
    color: white;
    border: none;
    width: 300px;
    height: 35px;
    padding: 0px 20px;
    margin: 0px 30px 0 0;
    border-radius: 10px;
}

.search-bar >form> input::placeholder{
    color: white;
    font-weight: bold;
}

.search-bar >form> button{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #d8deee;
    border: none;
    width: 35px;
    border-radius: 5px;
    transition: 150ms;
}

.search-bar> form > button:hover{
    filter: brightness(90%);
    scale: 1.03;
    cursor: pointer;
}

.search-bar >form>button>img{
    width: 100%;
}

.profile{
    margin: auto 20px auto 0;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
}

.profile > *{
    margin: 0;
}

.profile > a> button{
    background-color: #21566d;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 4px 10px;
    transition: 300ms;
}

.profile> a >button:hover{
    background-color: white;
    color: #21566d;
    border: 2px solid #21566d;
}

.login-button{
    background-color: #d8deee;
    font-weight: bold;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    transition: 150ms;
}

.login-button:hover{
    filter: brightness(90%);
    scale: 1.03;
}

.logo-div{
    margin-top: 200px;
    width: 100vw;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.info-container{
    margin: 200px auto;
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    align-items: center;
}

.underline{
    width:90%;
    height: 2px;
    border-bottom: 2px solid white;
    margin: 150px auto;
}

.info-card{
    width: 100%;
    color: white;
    display: flex;
    height: 300px;
    align-items: center;
    font-size: 24px;
    gap: 70px;
}

.info-right{
    justify-content: flex-end;
}

.info-left{
    justify-content: flex-start;
}

.info-card>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    opacity: 65%;
}

#Indo{
    opacity: 50%;
    width: 450px;
}

#cow{
    opacity: 50%;
    width: 400px;
    height: 450px;
}

#chef{
    opacity: 50%;
    width: 250px;
}

.card-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin: 150px auto;
    width: fit-content;
}

.card{
    background-color: white;
    width: 200px;
    height: 300px;
    padding: 40px 30px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 30px 20px -5px rgba(0, 0, 0,0.3);
    position: relative ;
}

.card > a> img{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 10px 10px 30px 10px;
    text-align: center;
}

.card > h2{
    font-weight: bold;
    margin: 0px
}

.card > h2, .card > p {
    text-align: center;
    margin: 0px;
}

.cartBtn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    background-color: white;
    width: 100px;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 7px 20px -5px rgba(0, 0, 0,0.5);
    transition: 300ms;
}

.cartBtn:hover{
    scale: 1.02;
    background-color: #21566d;
    color: white;
}

.price{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px 0px;
}

.category{
    font-size: 0.7rem;
    opacity: 0.6;
}

.description{
    opacity: 0.6;
    font-size: 0.7rem;
}



.cart-container{
    background-color: white;
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: fit-content;
    max-height: 60vh;
    margin-top: 120px;
    margin-left: 40px;
    padding: 20px;
    font-size: 0.8rem;
    z-index: 1;
    box-shadow: 0px 7px 20px -5px rgba(0, 0, 0,0.7);
}

.cardBtn{
    background-color: #21566d;
    color: white;
    border: none;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    padding: 4px 10px;
    transition: 300ms;
    margin: 2px;
}

.cardBtn:hover{
    background-color: white;
    color: #21566d;
    border: 2px solid #21566d;
}

.addBtn{
    position: fixed ;
    bottom: 0;
    right: 0;
    margin: 40px;
    background-color: white;
    width: 150px;
    height: 40px;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 7px 20px -5px rgba(0, 0, 0,0.5);
    transition: 300ms;
}

.addBtn:hover{
    scale: 1.02;
    background-color: #21566d;
    color: white;
}

.purchaseBtn{
    background-color: #21566d;
    color: white;
    border: none;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding: 4px 10px;
    transition: 300ms;
    margin: 2px;
}

.purchaseBtn:hover{
    background-color: white;
    color: #21566d;
    border: 2px solid #21566d;
}

.cartPrice{
    margin: 0;
    text-align: end;
    font-weight: bold;
}

.cartName{
    margin: 0;
}

.cartItem{
    padding: 2px;
    margin: 5px 0;
    border-bottom: 2px solid #21566d;
}

.hidden{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(3px) ;
}

.hidden2{
    opacity: 0;
    transition: all 1s;
    transform: translateX(100%);
    filter: blur(3px) ;
}

.show{
    opacity: 1;
    transform: translateX(0%);
    filter: blur(0px);
}

.floating-div {
    display: none;
    position: absolute;
    background-color: #012e41;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    pointer-events: none;
}

.detail-link:hover + .floating-div {
    display: block;
}

.detail-container{
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
}

.detail-card{
    width: 80%;
    color: white;
    height: 300px;
    align-items: center;
    font-size: 24px;
    gap: 70px;
    margin: 50px auto;
    text-align: center;
}

.detail-card>p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif!important;
    opacity: 65%;
}

.backBtn{
    position: fixed ;
    bottom: 0;
    right: 0;
    margin: 40px;
    background-color: white;
    width: 150px;
    height: 40px;
    padding: 10px 5px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 7px 20px -5px rgba(0, 0, 0,0.5);
    transition: 300ms;
}

.backBtn:hover{
    scale: 1.02;
    background-color: #21566d;
    color: white;
}

.detail-title{
    text-align: center;
    margin: 90px auto;
    color: white;
    font-size: 40px;
}

.detail-img{
    width: 300px;
}