*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-color: #98f4dc;
}

nav{
    background-color: white;
    box-shadow: 0px 0px 20px -10px black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.logo, .search-bar, .profile{
    padding: 10px 20px;
}

.logo{
    display: flex;
}

.logo-blue{
    color: #849ccc;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-bar > input{
    background-color: #d8deee;
    color: #8d919c;
    border: none;
    width: 300px;
    height: 35px;
    padding: 0px 20px;
    margin: 0px 10px;
    border-radius: 10px;
}

.search-bar > input::placeholder{
    font-weight: bold;
}

.search-bar > button{
    background-color: #d8deee;
    border: none;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    transition: 150ms;
}

.search-bar > button:hover{
    filter: brightness(90%);
    scale: 1.03;
}

.search-bar >button>img{
    width: 100%;
}

.profile{
    display: flex;
    align-items: center;
}

.login-button{
    background-color: #d8deee;
    font-weight: bold;
    border: none;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    transition: 150ms;
}

.login-button:hover{
    filter: brightness(90%);
    scale: 1.03;
}

.card-container{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    margin: 150px auto;
    width: fit-content;
}

.card{
    background-color: white;
    width: 200px;
    height: 300px;
    padding: 40px 30px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 30px 20px -5px rgba(0, 0, 0,0.3);
    position: relative ;
}

.card > img{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    margin: 10px 10px 30px 10px;
    text-align: center;
}

.card > h2{
    font-weight: bold;
    margin: 0px;
}

.card > h2, .card > p {
    text-align: center;
    margin: 0px;
}

.card>p{
    opacity: 0.5;
}

.card>button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    background-color: #d6eadf;
    width: 100px;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.price{
    font-weight: bold;
    font-size: 1.5rem;
}